@charset "utf-8";

body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	color: #fff;
	
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;
}

p {
  text-align:center;
}

h1 {
    text-align:center; 
}

h2 {
    text-align:center; 
}

h3 {
    text-align:center; 
}

h4 {
    text-align:center; 
}

h5 {
    text-align:center; 
}

h6 {
    text-align:center; 
}

div.labeldiv {
    text-align:center; 
}

div.hoge_button {
    text-align:center;
    display:block;
}

.msg {
    text-align:center;
    font-size: xx-large;
    background:blue;
    /*color:red;*/
}

.lastmsg {
    text-transform: none;
}