/* CSSコード */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap')

body {
    font-family: Courier, monospace;
}

p {
  text-align:center;
}

h1 {
    text-align:center; 
}

h2 {
    text-align:center; 
}

h3 {
    text-align:center; 
}

h4 {
    text-align:center; 
}

div.labeldiv {
    text-align:center; 
}

div.hoge_button {
    text-align:center;
    display:block;
}

.msg {
    text-align:center;
    font-size: xx-large;
    background:blue;
    /*color:red;*/
}